body {
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(-90deg,#6c7088,#4F4F51);
    background-color:gray;
    transition: all 0.1s ease-out;
  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a,div {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.5vh;
    color: #dbdbdb;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: rgb(85, 84, 84);
    transition: all 0.6s;
  }
  .main{
    margin-left: 50px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
 .priam,.haro,.healthwhiz,.nei,.fwdemodel,.myresume,.visionsofchange,.contact
  {
    /*margin-left:500px;*/
    display:none;
  }

  .about
  {
    /*background-color:rgba(27, 31, 34, 0.85);*/
    border-radius:12px;
    font-size: 1.2vh;
  }
  .aboutContent p
  {
    text-align:center;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;

    }
  }

  @keyframes slideAndFade {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideLeftAndFade {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideRightAndFade {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


  .fade-k{
    animation: slideLeftAndFade 1s;
  }
  .fade-t{
    animation: slideRightAndFade 1s;
  }
  .fade-text {
    animation: slideAndFade 1s;}

  .fade-text2{
    animation: slideAndFade 1.5s;
  }

  .fade-text3{
    animation: slideAndFade 2s;
  }

  .fade-text4{
    animation: slideAndFade 2.5s;
  }

  .aboutContainer
  {
    display:none;
    background-color:rgba(27, 31, 34, 0.85);
    border-radius:6px;
    text-align:left;
    animation: fadeIn 1s;
  }
  .content
  {

  }


  .socialLogo
  {
    width:200;
    height:200;
  }

  .btn-primary
  {
    background-color:transparent;
    font-weight:300;
    font-family:'Times New Roman',Times,serif;
    text-transform:uppercase;
    letter-spacing:0.5rem;
    border: solid 1px white;
  }

  .titleText
  {
    font-weight:300;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    width: fit-content;
    border-bottom: solid 1px white;
  }

  .content p, .form-group label
  {
    text-align:center;
    font-size:2.2vh;
  }

  .form-group input, .form-group textarea
  {
    background-color: rgb(255,255,255,0.5)
  }

  .form-group textarea
  {
    height:500;
    transition: all 0.6s;
  }

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .titleColumn
  {
    color:white;
    font-weight:bold;
    font-size:150%;
  }

  .subColumn
  {
    color:white;
    font-size:130%;
  }
  .personaContainer, .contentSection
  {
    border-bottom: 1px solid white;
  }
  .professionText
  {
    color:white;
    font-size:70%;
  }

  .fa-github
  {
    transition: all 0.4s;
  }
  .fa-github:hover
  {
    color:blue;
    transition:all 0.4s;
  }

  .fa-linkedin
  {
    transition: all 0.4s;
  }
  .fa-linkedin:hover
  {
    color:blue;
    transition:all 0.4s;
  }

  .rotate{
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.overlay {
  height: 0%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: transparent;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  align-items:left;
  text-decoration: none;
  font-size: 3vh;
  color: #dbdbdb;
  display: block;
  transition: 0.3s;
}

.overlay a:hover {
  color: #f1f1f1;
  background-color:#6c7088
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 1vh;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.fixed-action-btn
{
  position:absolute;
}

.menuButton
{
  position:fixed;
  display:none;
  bottom:0;
  right:1%;
  width:fit-content;
  height:fit-content;
  font-size:55px;
  border-radius:50%;
  background-color:rgba(27, 31, 34, 0.85);
  color:rgba(255, 255, 255, 0.822);
  border: 1px solid rgba(27,31,24,0.85);
}

#splash-screen{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  overflow:hidden;
  align-items:center;
  justify-content:center;
  background-color:rgba(15, 12, 12, 0.99);
}

#splash-screen img{
  max-width:100%;
  max-height:100%;
  animation: fadeIn 2s;
}



#kingtech {
  font-size: 36px;
  position: relative;}

.invisible {
  opacity:0;
  animation: fadeIn 1s forwards;
}

@keyframes appearAndMove{
  0%{
    visibility:hidden;
  }
  100%{
    visibility:visible;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}




